<launch>

	<arg name="camera"   default="d435i"/>
	<arg name="width"    default="848"/> 
	<arg name="height"   default="480"/>
	<arg name="fps"      default="30"/>

	<group ns="$(arg camera)">
		<include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
			<arg name="device_type"       value="$(arg camera)"/>
			<arg name="align_depth"       value="false"/>
			<arg name="enable_pointcloud" value="false"/>
			<arg name="enable_fisheye"    value="false"/>
			<arg name="enable_color"      value="false"/>

			<arg name="depth_width"       value="$(arg width)"/>
			<arg name="depth_height"      value="$(arg height)"/>
			<arg name="depth_fps"         value="$(arg fps)"/>
			<arg name="enable_depth"      value="false"/>
			
			<arg name="infra_width"       value="$(arg width)"/>
			<arg name="infra_height"      value="$(arg height)"/>
			<arg name="infra_fps"         value="$(arg fps)"/>
			<arg name="enable_infra1"     value="true"/>
			<arg name="enable_infra2"     value="true"/>

			<arg name="gyro_fps"          value="200"/>
			<arg name="accel_fps"         value="250"/>
			<arg name="enable_gyro"       value="true"/>
			<arg name="enable_accel"      value="true"/>
			<arg name="unite_imu_method"  value="linear_interpolation"/>
			<arg name="enable_sync"       value="true"/>

			<arg name="publish_odom_tf"   value="false"/>
			<arg name="publish_tf"        value="false"/>

			<arg name="initial_reset"     value="true"/>
		</include>
	</group>

	<rosparam>/d435i/stereo_module/emitter_enabled: 0</rosparam>

</launch>
